<style>
    body {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
    }

    .dashboard {
        width: 80%;
        margin: auto;
        padding: 20px;
        padding-bottom: 230px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
        background-color: #fff;
        border-radius: 10px;
    }

    .profile-info {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .profile-info img {
        border-radius: 50%;
        border: 2px solid #333;
    }

    .profile-info h2, .profile-info p {
        margin: 0;
        color: #292929;
        font-weight: bold;
    }

    .tourism-info {
        margin-top: 20px;
    }

    .tourism-info h2 {
        color: #333;
    }

    .tourism-info ul {
        list-style: none;
        padding: 0;
    }

    .tourism-info ul li {
        margin-bottom: 10px;
        background: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

    .tourism-info ul li:nth-child(odd) {
        background: #e0e0e0;
    }

    .tourism-info ul li:nth-child(even) {
        background: #f0f0f0;
    }

    h1, h2, h3 {
        font-weight: bold;
        font-family: 'Helvetica Neue', Arial, sans-serif;
    }
</style>

<body>
    <div class="dashboard">
        <h1>Your Profile</h1>
        <div class="profile-info">
            <img src="https://cdn0.iconfinder.com/data/icons/mobile-basic-vol-1/32/Profile-512.png" alt="profile picture" height="15%" width="15%">
            <div>
                <h2>{{ username }}</h2>
                <p>{{ email }}</p>
            </div>
        </div>
        <div class="tourism-info">
            <h2>Your Trips</h2>
            <ul>
                {{#each trips}}
                    <li>
                        <h3>{{this.destination}}</h3>
                        <p>Date: {{this.date}}</p>
                        <p>Duration: {{this.duration}} days</p>
                    </li>
                {{/each}}
                <li>
                    <h3>Souq Waqif</h3>
                    <p>Date: April 20, 2024</p>
                    <p>Duration: 5 days</p>
                </li>
                <li>
                    <h3>Katara</h3>
                    <p>Date: May 10, 2024</p>
                    <p>Duration: 3 days</p>
                </li>
                <li>
                    <h3>Banana Island</h3>
                    <p>Date: June 1, 2024</p>
                    <p>Duration: 4 days</p>
                </li>
            </ul>
        </div>
    </div>
</body>
